<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wt.model.dao.SubjectItemDao">

    <sql id="allColumn">
        id id,
        subject_id subjectId,
        subject_item_name subjectItemName,
        crt_dat crtDat,
        upt_dat uptDat
    </sql>

    <insert id="insert" parameterType="wt.model.po.SubjectItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO subject_item (id, subject_id,
                                  subject_item_name
        )
        VALUES (#{id,jdbcType=BIGINT}, #{subjectId,jdbcType=BIGINT},
                #{subjectItemName,jdbcType=VARCHAR}
        )
    </insert>


    <select id="findBySubjectId" resultType="wt.model.po.SubjectItem">
        SELECT
        <include refid="allColumn"/>
        FROM subject_item
        where subject_id = #{subjectId}
    </select>
</mapper>