<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wt.model.dao.SubjectItemContentDao">

    <sql id="Base_Column_List">
        id id,
        subject_item_id subjectItemId,
        theme theme,
        content content,
        md5 md5,
        type type,
        crt_dat crtDat,
        upt_dat uptDat
    </sql>

    <insert id="insert" parameterType="wt.model.po.SubjectItemContent">
        INSERT INTO subject_item_content (id, subject_item_id, theme,
                                          content, md5, type, crt_dat, upt_dat
        )
        VALUES (#{id,jdbcType=BIGINT}, #{subjectItemId,jdbcType=BIGINT}, #{theme,jdbcType=VARCHAR},
                #{content,jdbcType=VARCHAR}, #{md5,jdbcType=VARCHAR},#{type,jdbcType=VARCHAR}, #{crtDat,jdbcType=TIMESTAMP},
                #{uptDat,jdbcType=TIMESTAMP}
        )
    </insert>

    <select id="findByItemId" resultType="wt.model.po.SubjectItemContent">
        SELECT <include refid="Base_Column_List"/>
        FROM subject_item_content
        where subject_item_id=#{itemId}
    </select>
    
    
    <select id="findByItemIdMd5" resultType="wt.model.po.SubjectItemContent">
        SELECT <include refid="Base_Column_List"/>
        FROM subject_item_content
        where md5=#{md5}
    </select>
</mapper>